{% extends 'layouts/menu.html' %}
{% block title %}Desktop{% endblock %}
{% block content %}

<div class="desktop">
    <div class="icon load-entry">
        <img src="{{ url_for('static', filename = 'img/notebook.png') }}">
        <div class="icon-name">Load Entry</div>
    </div>
    <div class="icon blacklist">
        <img src="{{ url_for('static', filename = 'img/blocked.png') }}">
        <div class="icon-name">Blacklist</div>
    </div>
    <div class="icon create-entry">
        <img src="{{ url_for('static', filename = 'img/create.png') }}">
        <div class="icon-name">Create Entry</div>
    </div>
    <div class="icon logout-button">
        <img src="{{ url_for('static', filename = 'img/logout.png') }}">
        <div class="icon-name">Logout</div>
    </div>
  </div>

  <div class="window player">{{ player }}</div>

  <div class="taskbar">
    <div class="start-button"><img src="{{ url_for('static', filename = 'img/logo.svg') }}"> start</div>

    <div class="time">11:20 PM</div>
  </div>

{% endblock %}
