@font-face {
    font-family: "segoe-ui";
    src: url('/static/fonts/segoe-ui.ttf')
}

.segoe-ui {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    color: #ffffff;
    background-position: -50px bottom;
    background-image: url('/static/img/welcome-long.png');
    background-size: cover;
}

.verticalLine {
    position: absolute;
    background-color: whitesmoke;
    top: 8pc;
    left: 28pt;
    width: 2px;
    height: 25pc;
    opacity: 0.3;
}

.mjNotebookSize {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

.mjNotebookPos {
    position: absolute;
    left: 30%;
    top: 8pc;
    width: 300px;
    height: auto;
}

.mjLogoPos {
    position: absolute;
    left: 0pc;
    top: 18pc;
    width: 300px;
    height: auto;
}

.mjLogoSize {
    max-width: 200%;
    max-height: 200%;
    display: block;
}

.login {
    position: absolute;
    left: 0pc;
    top: 185px;
    width: 300px;
    height: auto;
}

.loginButton {
    border: none;
    padding: 0;
    background: none;
    max-width: 105%;
    max-height: 105%;
}

.loginButtonPos {
    position: absolute;
    left: 305px;
    top: 69px;
    width: 25px;
    height: auto;
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.passwordText {
    margin: 10px 0 0px;
}

.flower {
    border: none;
    padding: 2px;
    background: whitesmoke;
    max-width: 400%;
    max-height: 400%;
    border-radius: 15px;
}

.flowerPos {
    position: absolute;
    left: -120px;
    top: 140px;
    width: 25px;
    height: auto;
    border: none;
    padding: 0;
    background: none;
    outline: none;
}

.menuChoice {
    font-size: 35px;
}

.menuChoicePos {
    position: absolute;
    left: 0pc;
    top: 130px;
    width: 300px;
    height: auto;
}

.loginSelect {
    max-width: 170%;
    max-height: 170%;
    display: block;
}

.loginSelectPos {
    position: absolute;
    left: -9pc;
    top: 122px;
    width: 300px;
    height: auto;
}

.menuText {
    font-size: 30px;
}

.menuTextPos {
    position: absolute;
    left: 165px;
    top: 325px;
    width: 300px;
    height: auto;
}

.hiddenForm {
    display: none;
}