body {
    color: #ffffff;
    background-position: -50px bottom;
    background-image: url('/static/img/welcome-long.png');
    background-size: cover;
}

img {
    max-width: 110%;
    max-height: 110%;
    display: block;
}

.verticalLine {
    position: fixed;
    background-color: whitesmoke;
    width: 2px;
    top: 32%;
    bottom: 28%;
    left: 50%;
    opacity: 0.3;
}

.mjLogo {
    position: fixed;
    left: 28%;
    top: 33%;
    width: 300px;
    height: auto;
}