{% extends 'layouts/main.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-5"></div>
      <div class="col-sm-3"></div>
      <div class="col-sm-2">
        <form method="post" class="form login">
          {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
          <p class="segoe-ui passwordText">Type your password</p>
          {{ form.password(class_ = 'form-control last-input', placeholder = form.password.label.text, required = true) }}
          <p><a href="{{ url_for('register') }}">Register</a></p>
          <button type="submit" class="loginButtonPos" width='1' height='1'>
            <img src="{{ url_for('static', filename = 'img/submit.png') }}" class="loginButton">
          </button>
        </form>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
{% endblock %}
