<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form actions="#" method="POST">
        {% for entry in content%}
            {% autoescape false %}
            <input type="submit" name="entry" value="{{entry}}"><br>
            {% endautoescape %}
        {% endfor %}
        <input type="submit" name="entry" value="Create"><br>
        <input type="submit" name="entry" value="Logout"><br>
    </form>
</body>
</html>